body {
    background-color: gainsboro;
    /* Use a system font, if none are available use an available sans-sarif */
    font-family: silkscreen, sans-serif;
    margin: 0;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
    justify-content: center;
    margin: auto;
}

.sqr {
    width: 30%;
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
}

h1, #message{
    display: flex;
    font-family: sans-serif;
    justify-content: center;
}

#reset {
    background-color: rgb(240, 108, 1);
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 5px;
}

#reset:hover {
    background-color: #db3001;
}

#reset:active {
    transform: translateY(2px)
}


.marked-x {
    background-color: rgb(41, 134, 146);
}

.marked-o {
    background-color: #F46036;
}